.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 154px;
  padding: 21px 24px 19px;
  position: relative;
  z-index: 20;
  width: 100%;
  color: #000;
}

.dark {
  color: #fff;
}

.slot {
  flex: 1;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  font-family: var(--cl-font-ios);
  font-weight: 590;
  font-size: 17px;
  line-height: 22px;
  padding-top: 1.5px;
}

.icons {
  gap: 7px;
  padding-top: 1px;
  padding-right: 1px;
}

@media (max-width: 520px) {
  .bar {
    gap: 0;
    justify-content: space-between;
  }
}
